#hours {
  color: blue;
}

#minutes {
  color: red;
}

#seconds {
  color: salmon;
}

main {
  background-color: dodgerblue;
}

#clock {
  width: 300px;
  height: 300px;
  border: 2px solid red;
  border-radius: 300px;
  position: relative;
  margin: 0 auto;
}

#point {
  width: 1px;
  height: 1px;
  border: 3px solid red;
  border-radius: 3px;
}

#secondWrapper {
  border: 2px solid black;
  position: absolute;
  height: 200px;
  width: 0px;
  top: 75px;
  left: 475px;
  transform-origin: bottom;
}
